@addTagHelper *,Microsoft.AspNetCore.MvcTagHelpers

@model (Product product ,User user)
<form asp-action="CreateProduct" asp-controller="Product" method="post">
    <input type="text" asp-for="product.ProductName" placeholder="Product name" /> <br />
    <input type="text" asp-for="user.Name" placeholder=" name" /> <br />
    <button>Gönder</button>
</form>