@{
    ViewData["Title"] = "Home Page";

}
@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper * ,MvcDesign


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <a  href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>
     <email mail="aydinmfatih@gmail.com" display="Fatih aydın"></email>
</div>
